@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);

*{font-family:'Nanum Gothic',tahoma;color:#333;}

.header-v6 .navbar-nav > li > a{font-size:15px;font-weight:bold}
.ms-view{height:350px !important;}
.content-md,.parallax-counter-v1{padding:25px 0;}
.footer{margin-top:20px;margin-bottom:20px;text-align:center;font-size:11px;}
.ms-slide,.ms-view{width:1120px !important;height:350px !important}
.ms-slide-layers{left:30px !important}
.ms-anim-layers .ms-layer:first-child{top:150px;font-size:30px}
.ms-anim-layers .ms-layer:nth-child(2){top:190px;font-size:60px}
.ms-anim-layers .ms-layer:nth-child(3){top:260px;font-size:18px}
.ms-layer.btn-u{top:300px}
