@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);

*{font-family:'Nanum Gothic',tahoma;color:#333;}

/* layout style */
.header-v6 .navbar-nav > li > a{font-size:15px;font-weight:bold}
.ms-view{height:350px !important;}
.subcontent{margin-left:210px;padding-top:10px}
.content-md,.parallax-counter-v1{padding:25px 0;}
.colorbar+.container{padding-left:0;padding-right:0}
.footer{margin-top:20px;margin-bottom:20px;text-align:center;font-size:11px;}
.ms-slide,.ms-view{width:1170px !important;height:350px !important}
.ms-slide-layers{left:30px !important}
.ms-anim-layers .ms-layer:first-child   {top:150px !important;font-size:30px !important}
.ms-anim-layers .ms-layer:nth-child(2){top:175px !important;font-size:60px !important}
.ms-anim-layers .ms-layer:nth-child(3){top:250px !important;font-size:18px !important}
.ms-layer.btn-u{top:280px !important;background-color:#333}
.company .colorbar div{background:url(../images/subimg-company.png) no-repeat;height:140px;}
.biz .colorbar div         {background:url(../images/subimg-company.png) no-repeat;height:140px;}
.support .colorbar div {background:url(../images/subimg-company.png) no-repeat;height:140px;}
.online .colorbar div    {background:url(../images/subimg-company.png) no-repeat;height:140px;}
.colorbar h1{margin:0;padding:80px 0 3px 20px;color:#fff}
.colorbar span{padding:3px 10px 5px 20px;background-color:rgba(0, 0, 0, 0.5);color:#fff}
.submenu{width:180px;float:left;margin-right:20px;position:absolute}
.submenu a{width:100%;display:block;border-bottom:1px solid #cfcfcf;padding:9px 0 5px 0;font-size:14px;color:#585858;text-indent:7px}
.submenu a:hover,.submenu a.active{text-decoration:none;border-color:#029ddf;font-weight:bold;color:#096ea5}

/* main style */
.main .space-lg-hor{padding-left:30px;padding-right:30px;font-size:14px;line-height:2}
.main .service-icon{background:url(../images/icon-main-service.png) no-repeat;width:40px;height:40px;display:block;margin:auto}
.main .service-icon.column1{background-position:50%          0}
.main .service-icon.column2{background-position:50%   -50px}
.main .service-icon.column3{background-position:50% -100px}
.main .service-block-default{padding:20px 15px;min-height:350px}
.main .service-box-v1 ul{padding:0 15px}
.main .parallax-counter-v1{background:#f7f7f7;margin-top:30px;padding:10px 0}
.main .parallax-counter-v1 label{display:block;color:#585858;font-size:14px}
.main .parallax-counter-v1 .counters{border:none;border-right:1px dotted #ccc;padding:0;font-size:40px;color:#333}
.main .parallax-counter-v1 .col-sm-3:last-child .counters{border-right:0px}
.main .parallax-counter-v1 h4{margin-bottom:0;font-size:18px;color:#666}
.main .partners{list-style:none;padding:0}
.main .partners li{border:1px solid #ccc;width:160px;margin:0 5px 7px 0;padding:5px;float:left}
.main .partners li:last-child{margin-right:0}
.main .partners li img{width:100%}
.colorbar.content-md{padding:0 0 25px 0}

/* company style */
.ceo.subcontent{background:url(../images/bg-ceo.png) 100% 10px no-repeat;padding:120px 250px 50px 10px;font-size:14px;line-height:2.5}
.ceo.subcontent div{margin:120px 10px 0 0;text-align:right;font-size:12px;color:#666}
.ceo.subcontent div strong{font-size:18px;font-weight:bold;color:#333}
.history .year{background:url(../images/bg-history.png) 50% 10px no-repeat;}
.history .year.y2014{background-position:50% 10px}
.history .year.y2015{background-position:50% -90px}
.history .year.y2016{background-position:50% -190px}
.history .year.y2017{background-position:50% -290px}
.history .year li{display:block;border-bottom:1px dotted #cfcfcf}

/* business style */

/* support style */
.map{height:350px !important}

/* online style */
.online .col-md-9{padding-left:0}

.who li i{color:#008bcc}
